<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    a {
      display: inline-block;
      line-height: 50px;
      padding: 0 20px;
      color: #FFF;
      font-weight: 500;
      background-color: chocolate;
      text-decoration: none;
    }
    a:hover {
      opacity: 0.8;
    }
  </style>
</head>
<body>
  <div>
    <a href="http://192.168.0.102:9000/customer_provide_files?token=qqwewerwertoiojsofdj;lojsd;lfgj;sdfgj">TO UPLOAD</a>
  </div>
</body>
</html>